<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-B2TB836\SQLEXPRESS;Initial Catalog=News;User ID=MeetPatel;Password=MeetPatel" />
    <add name="NewsConnectionString" connectionString="Data Source=DESKTOP-B2TB836\SQLEXPRESS;Initial Catalog=News;User ID=MeetPatel;Password=MeetPatel"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime executionTimeout="1000" />
    <sessionState timeout="100"></sessionState>
  </system.web>
</configuration>